#gConnect{
    text-align: center;
    font-size: 1.5em;
}

#navigation{
    text-align: center;
}

#navigation p{
    font-size: 1.5em;
}

#profile{
    text-align: center;
    font-size: 1.5em;   
}

input{
	margin: auto;
	font-size: 1.2em;
}


select{
    width: 300px;
}

.query {
	font-size: 1.3em;
	text-align: center;
}

#helptext{
	margin: auto;
	font-size: 0.8em;
}

ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header-img {
    display: block;
    margin: auto;
    width: 60%
}

#results{
    text-align: center;
    font-size: 1.2em;
}