{% extends "layout.html" %}

{% block title %}Perovskite Neural Network{% endblock %}

{% block top_javascript %}

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

<script type="text/javascript">
$(function() {
    $('input[type=submit]').button();
    $("#select-collection" ).selectmenu();
    $('#results-table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
  });
</script>
{% endblock %}

{%  block css %}
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='index.css') }}">
<link rel=stylesheet type=text/css
      href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel=stylesheet type=text/css
      href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">


{% endblock %}


{% block content %}
<img id="header-img" src="{{ url_for('static', filename='images/dnn.jpg') }}"/>
<h1>Perovskite Neural Network</h1>

<p class="help-p">This application uses a neural network to predict the stability of perovskite crystals, as described
    in Ye, W.; Chen, C.; Wang, Z.; Chu, I.-H.; Ong, S. P. <i>Deep neural networks for accurate predictions of crystal stability.</i> <b>Nat. Commun.</b> 2018, 9 (1), 3800 DOI: <a href="http://dx.doi.org/10.1038/s41467-018-06322-x">10.1038/s41467-018-06322-x</a>.
<p class="help-p"><b>Instructions</b></p>
<p class="help-p">Enter species in the A and B sites of the prototypical ABO<sub>3</sub> perovskite crystal.</p>
<ul>
    <li>Species allowed on A site:<br />
        Al<sup>3+</sup>, Ba<sup>2+</sup>, Bi<sup>3+</sup>, Ca<sup>2+</sup>, Cd<sup>2+</sup>, Ce<sup>3+</sup>, Ce<sup>4+</sup>, Dy<sup>3+</sup>,
        Er<sup>3+</sup>, Gd<sup>3+</sup>, Ho<sup>3+</sup>, La<sup>3+</sup>, Mg<sup>2+</sup>, Mn<sup>2+</sup>, Nd<sup>3+</sup>, Ni<sup>2+</sup>,
        Pb<sup>2+</sup>, Pd<sup>2+</sup>, Pr<sup>3+</sup>, Pt<sup>2+</sup>, Rh<sup>3+</sup>, Sc<sup>3+</sup>, Sm<sup>3+</sup>, Sn<sup>4+</sup>,
        Sr<sup>2+</sup>, Tb<sup>3+</sup>, Tl<sup>3+</sup>, Tm<sup>3+</sup>, Y<sup>3+ </sup>, Zn<sup>2+</sup></li>
    <li>Species allowed on B site:<br />
        Al<sup>3+</sup>, Au<sup>3+</sup>, Bi<sup>3+</sup>, Ce<sup>3+</sup>, Ce<sup>4+</sup>, Co<sup>2+</sup>, Co<sup>3+</sup>,
        Cr<sup>3+</sup>, Cu<sup>2+</sup>, Dy<sup>3+</sup>, Er<sup>3+</sup>, Eu<sup>3+</sup>, Fe<sup>2+</sup>, Fe<sup>3+</sup>,
        Ga<sup>3+</sup>, Gd<sup>3+</sup>, Ge<sup>4+</sup>, Hf<sup>4+</sup>, Ho<sup>3+</sup>, In<sup>3+</sup>, Ir<sup>4+</sup>,
        La<sup>3+</sup>, Lu<sup>3+</sup>, Mg<sup>2+</sup>, Mn<sup>2+</sup>, Mn<sup>4+</sup>, Mo<sup>4+</sup>, Nd<sup>3+</sup>,
        Ni<sup>2+</sup>, Os<sup>4+</sup>, Pb<sup>4+</sup>, Pd<sup>4+</sup>, Pr<sup>3+</sup>, Pt<sup>4+</sup>, Re<sup>4+</sup>,
        Rh<sup>3+</sup>, Ru<sup>4+</sup>, Sc<sup>3+</sup>, Si<sup>4+</sup>, Sm<sup>3+</sup>, Sn<sup>4+</sup>, Ta<sup>5+</sup>,
        Tb<sup>3+</sup>, Tc<sup>4+</sup>, Ti<sup>4+</sup>, Tl<sup>3+</sup>, Tm<sup>3+</sup>, V <sup>5+</sup>, W <sup>4+</sup>,
        Y<sup>3+</sup>, Zn<sup>2+</sup>, Zr<sup>4+</sup></li>
    <li>"Ba2+" means only one type of species (Ba<sup>2+</sup>) is present in the site.</li>
    <li>"Ba2+:1 Ca2+:1" means Ba<sup>2+</sup> and Ca<sup>2+</sup> are present in the site in the ratio of 1:1.</li>
</ul>
<p class="help-p">
    Only 1:1 mixing is allowed in the A and B sites.
</p>

<form action="/perovskite_query" method="get" name="query">
    <p class="query">
        <label>A: </label><input type="text" name="a_string" placeholder="E.g., Ba2+" value="{{a_string}}" size="20">
        <label>B: </label><input type="text" name="b_string" placeholder="E.g., Zr4+" value="{{b_string}}" size="20">
    </p>
    <p class="query">
        <input type="submit" name="submit" value="Compute">
    </p>
</form>


{% if message %}
<h2>Results for {{ formula | safe }}</h2>
<p id="results">{{ message | safe }}</p>
<p class="help-p">
    Definitions:
<ul>
    <li><i>E<sub>f</sub></i>: Formation energy from binary oxides of same oxidation state</li>
    <li><i>E<sub>hull</sub></i>: Energy above convex hull</li>
    <li><i>Formula unit (fu) </sub></i>: {{ formula | safe }}</li>
</ul>

{% endif %}


{% endblock %}